<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.1.1/css/pico.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>ALPR Web App</title>
</head>
<body>
<main class="container">
  <h1>ALPR</h1>
  <video id="video" width="640" height="480" autoplay></video>
  <button id="snap">Snap Photo</button>
  <canvas id="canvas" width="640" height="480"></canvas>
  <h3 id="result"></h3>
</main>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
